.crt-table{
  max-width: 500px;
  table-layout: fixed;
}
.crt-table th,
.crt-table td {
  text-align: center;
}

.crt-table input{
    text-align: center;
}

.crt-table button {
  padding: 7px 13px;
}

.order-container{
  margin-bottom: 10px;
}

.confirmed-box{
  background: var(--surface-soft);
}
